@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
::selection{background-color: hsla(214, 100%, 65%, 0.42);}

#top-bar{
    top: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: black;
    z-index: 1;
}

#Title{
    margin-left: 10px;
    top : -32.5px;
    position: fixed;
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 50px;
}

#preview_wrap{
    position: fixed;
    padding-top:20px;
    background-color: #C6C5FE;
    z-index: 1;
    visibility: visible;
    top : 100px;
    left: 50%;
    width: 40%;
    height: 500px;
}

#preview{
    margin: 0px;
    padding: 0px;
    box-shadow: none;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    overflow: auto;
}

#editor{
    position: fixed;
    top:71px;
    height: 70%;
    overflow-y: hidden;
}

.prism-live{
    position: fixed;
    top:35px;
}